<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Sklep menu')}"></head>
<body>
    <nav th:replace="~{fragments/navbar :: upper-navbar}"></nav>
    <main>
        <section class="mt-8">
            <img th:src="@{/images/oferta/sklep_menu/bake_with_mix.png}" height="600" class="rounded mx-auto d-block">
        </section>

        <section class="container mt-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                <div class="col">
                    <div class="card my-3 text-center">
                        <img th:src="@{/images/oferta/sklep_menu/ciasto_czekoladowe.png}" alt="Ciasto czekoladowe"
                             class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Ciasto czekoladowe</h5>
                            <p class="card-text">Klasyczne, puszyste ciasto o intensywnym smaku kakao.</p>
                            <p><strong>Cena: 9.99 zł</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card my-3 text-center">
                        <img th:src="@{/images/oferta/sklep_menu/sernik.png}" alt="Sernik" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Sernik tradycyjny</h5>
                            <p class="card-text">Kremowy sernik z naturalnego twarogu, idealny na każdą okazję.</p>
                            <p><strong>Cena: 11.49 zł</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card my-3 text-center">
                        <img th:src="@{/images/oferta/sklep_menu/babka_cytrynowa.png}" alt="Babka cytrynowa"
                             class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Babka cytrynowa</h5>
                            <p class="card-text">Orzeźwiające ciasto z nutą cytryny, idealne na wiosnę.</p>
                            <p><strong>Cena: 8.99 zł</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card my-3 text-center">
                        <img th:src="@{/images/oferta/sklep_menu/ciasto_marchewkowe.png}" alt="Ciasto marchewkowe"
                             class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Ciasto marchewkowe</h5>
                            <p class="card-text">Wilgotne ciasto z marchewką, cynamonem i orzechami.</p>
                            <p><strong>Cena: 10.49 zł</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer th:replace="~{/fragments/footer}"></footer>
    <script th:replace="~{fragments/bootstrap_js :: bootstrap_js}"></script>
</body>
</html>
