<nav th:fragment="upper-navbar"
     class="navbar navbar-expand-lg navbar-light bg-light mx-auto mt-5 border-bottom border-1 shadow w-75 rounded-3 rounded-bottom fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="img-one">  <!-- Image with logo of your franchise company, should be background-less  -->
            <a th:href="@{/}">
                <img
                        th:src="@{/images/ourshop-logo.png}"
                        alt="" width="45" height="36"
                        class="d-inline-block align-text-top"
                />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100 d-flex justify-content-evenly">
                <li class="nav-item dropdown">  <!-- Order new stuff to your franchise localisation -->
                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">Oferta</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Wygodne usługi</a></li>
                        <li><a class="dropdown-item" th:href="@{/oferta/sklep-menu}">Sklep menu</a></li>
                        <li><a class="dropdown-item" th:href="@{/oferta/akcesoria}">Akcesoria</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">  <!-- Become a franchise options & infromation-->
                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Franczyza
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/franczyza/o-franczyzie}">O franczyzie</a></li>
                        <li><a class="dropdown-item" href="#">Zostań franczyzobiorcą</a></li>
                        <li><a class="dropdown-item" href="#">Lista dostępnych lokalizacji</a></li>
                        <li><a class="dropdown-item" href="#">Aktualności</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">  <!-- Partnership options & information -->
                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Współpraca
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Wynajem lokali</a></li>
                        <li><a class="dropdown-item" href="#">Wynajem magazynów</a></li>
                        <li><a class="dropdown-item" href="#">Współpraca handlowa</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">  <!-- About our franchise company -->
                    <a class="nav-link dropdown-toggle text-dark" href="#"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        O nas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">O firmie</a></li>
                        <li><a class="dropdown-item" href="#">Dlaczego my</a></li>
                        <li><a class="dropdown-item" href="#">Nasi partnerzy biznesowi</a></li>
                    </ul>
                </li>
                <li class="nav-item mt-2">  <!-- Leaflet templates button -->
                    <a href="#" class="text-decoration-none text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                            <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
                        </svg>
                        Gazetka
                    </a>
                </li>
                <li class="nav-item mt-2">  <!-- Contact button -->
                    <a href="#" class="text-decoration-none text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                        </svg>
                        Kontakt
                    </a>
                </li>
                <!--
                 ################################################################
                 #######  This should be visible Only for admins   ##############
                 ################################################################
                <li class="nav-item mt-2">
                    <a href="#" class="text-decoration-none text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                        Franczyzobiorcy
                    </a>
                </li>
                -->
                <li class="nav-item mt-2">  <!-- Logout button -->
                    <a href="#" class="text-decoration-none text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item mt-2">  <!-- Account settings -->
                    <a href="#" class="text-decoration-none text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
